/* semantic color variables for this project */
:root {
  --color-brand-magenta: #E5097D;
  --color-background-stripe: #f1f1f1;
  --color-header-text: #1b1b1b;
  --color-footer-background: #1b1b1b;
  --color-shy-text: rgba(0, 0, 0, 0.6);
  --gradient-brand: linear-gradient(105.19deg, #DD0A7B 22.53%, #E31C2C 36.76%, #EE6A1B 61.97%, #FAC607 81.15%);
  --gradient-brand-transparent: linear-gradient(105.19deg, rgba(221, 10, 123, 0.1) 22.53%, rgba(227, 28, 44, 0.1) 36.76%, rgba(238, 106, 27, 0.1) 61.97%, rgba(250, 198, 7, 0.1) 81.15%);

  /*--gradient-brand: linear-gradient(105deg, red , orange , yellow , green , blue , indigo );*/
}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  /*min-height: 100vh;*/
  /*color: var(--color-text);*/
  /*background: var(--color-background);*/
  /*transition: color 0.5s, background-color 0.5s;*/
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
